<div class="contaienr"
    cdkDropListGroup>
  <div class="left"
      cdkDropList
      cdkDropListSortingDisabled
      [cdkDropListData]="templates"
      [cdkDropListConnectedTo]="columnListIds">
    <div class="title">
      <strong>Templates</strong>
    </div>
    <div *ngFor="let template of templates"
        class="element template"
        [ngClass]="template.type"
        [cdkDragData]="template"
        cdkDrag>
      {{ template.type | titlecase }}
      <span *cdkDragPlaceholder
          class="drag-placeholder">
        Placeholder
      </span>
    </div>
  </div>
  <div class="right"
      id="rowList"
      #rowList="cdkDropList"
      cdkDropList
      cdkDropListGroup
      [cdkDropListData]="rows"
      (cdkDropListDropped)="onRowDropped($event)">
    <div class="title">
      <strong>Elements</strong>
    </div>
    <div *ngFor="let row of rows; let index = index"
        [id]="'columnList' + index"
        #columnList="cdkDropList"
        class="row"
        cdkDrag
        cdkDragDisabled
        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="row.children"
        [cdkDropListEnterPredicate]="canDrop"
        (cdkDropListDropped)="onColumnDropped($event)">
      <div *ngFor="let element of row.children"
          class="element"
          [ngClass]="element.type"
          [cdkDragData]="element"
          cdkDrag>
        <span>{{ element.type | titlecase }}</span>
        <span *cdkDragPlaceholder
            class="drag-placeholder">
          Placeholder
        </span>
      </div>
    </div>
  </div>
</div>
<!-- <app-drag-drop-form></app-drag-drop-form> -->