.contaienr {
  display: flex;
  gap: 16px;

  .left,
  .right {
    padding: 8px;
    border: solid 1px gray;
    border-radius: 8px;

    .title {
      text-align: center;
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 216px;
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .row {
      display: flex;
      gap: 8px;

      .element {
        flex: 1;
      }
    }

    .drag-placeholder {
      flex: 1;
    }
  }
}

.element {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: lightblue;
  border-radius: 8px;
  padding: 8px;
  cursor: grab;

  &.heading {
    background-color: lightblue;
  }

  &.text {
    background-color: beige;
  }
}

.drag-placeholder {
  border-radius: 8px;
  padding: 8px;
  border: dotted 1px gray;
  color: transparent;
}

.cdk-drag-preview {
  width: 216px !important;
}
