<div class="contaienr">
  <div class="left"
      cdkDropList
      cdkDropListSortingDisabled
      [cdkDropListData]="templates"
      [cdkDropListConnectedTo]="rowListIdAndColumnListIds">
    <div class="title">
      <strong>Templates</strong>
    </div>
    <div *ngFor="let template of templates"
        class="element"
        [ngClass]="template.type"
        [cdkDragData]="template"
        cdkDrag>
      {{ template.type | titlecase }}
      <span *cdkDragPreview
          class="drag-preview element template"
          [ngClass]="template.type">
        {{ template.type | titlecase }}
      </span>
      <span *cdkDragPlaceholder
          class="drag-placeholder">
        Placeholder
      </span>
    </div>
  </div>
  <div class="right"
      id="rowList"
      #rowList="cdkDropList"
      cdkDropList
      [cdkDropListData]="rows"
      (cdkDropListDropped)="onRowDropped($event)">
    <div class="title">
      <strong>Elements</strong>
    </div>
    <app-row *ngFor="let row of rows; let index = index"
        cdkDrag
        cdkDragDisabled
        [row]="row"
        [id]="'columnList' + index"
        [connectedTo]="rowListIdAndColumnListIds"
        (columnListChanged)="onColumnListChanged()"/>
  </div>
</div>